{if isset($login)}
	<form action = "index.php?action=feedback" method = "post" name = "feedback" class = "feedform">
		
		<label><span class = "req_stars">* </span>Заголовок отзыва:<br>
			<input type = "text" name = "title" class = "title_field" autofocus onkeypress="if(event.keyCode==13) feed_validate(this.form);">
			
		</label><br>

		<label><span class = "req_stars">* </span>e-mail: <br>
			<input type="text" name = "email" onkeypress="if(event.keyCode==13) feed_validate(this.form);">
			
		</label><br>
		
		<label><span class = "req_stars">* </span>Отзыв: <br>
			<textarea name = "message"></textarea>
			
		</label><br>
		
		<input type="button" onclick="feed_validate(this.form)" value="Отправить">
		


		<p class = "req_text"><span style = "color:red; vertical-align: sub;">*</span> - Поля, обязательные для заполнения</p>	
	</form>
  <script src = "/themes/theme01/templates/validator2.js"></script>
{/if}