<div class = "reg_wrap">
	<div class = "reg_wrap_form">
		<form action = "" method = "POST" class = "login_form" name = "reg">
			<label><span class = "req_stars">* </span>Логин:<br>
					<input type = "text" name="reg_form_login" size="15" class="form_field" autofocus onkeypress="if(event.keyCode==13) reg_validate(this.form);">
			</label><br>
			
			<label><span class = "req_stars">* </span>Пароль:<br>
					<input type = "password" name="reg_form_password" size="15" class="form_field" onkeypress="if(event.keyCode==13) reg_validate(this.form);">
			</label><br>		
			
			<label><span class = "req_stars">* </span>Пароль ещё раз:<br>
					<input type = "password" name="reg_form_password_confirm" size="15" class="form_field" onkeypress="if(event.keyCode==13) reg_validate(this.form);">
			</label><br>
						
			<input type="button" onclick="reg_validate(this.form)"  value="Зарегистрироваться" class="form_field">
			<p style = "text-align: center"><a href = "index.php">Авторизация</a></p>
		</form>			
	</div>
	
	<div class = "reg_wrap_text">
		<p class = "req_text"><span style = "color:red; vertical-align: sub;">*</span> - Поля, обязательные для заполнения</p>
		<p class = "reg_notice">Логин должен содержать от 3 до 15 символов и может состоять из <strong>строчных</strong> латинских символов (a-z), символов "-", "_" и цифр.</p>
		<p class = "reg_notice">Пароль должен содержать от 6 до 15 символов и может состоять из <strong>строчных</strong> латинских символов (a-z), символов "-", "_" и цифр.</p>
	</div>
</div>

<script src = "/themes/theme01/templates/validator2.js"></script>